<form action='/links' method='POST'>
  URL: <input type='text' name='url'><br>
  TITLE: <input type='text' name='title'><br>
  TAG(S): <input type='text' name='tag'><br>
  <input type='submit' value='Create link'>
</form>